# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.senior-project-implementation-uop-inside-pacific-but-better.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
